@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    color: #797979;
	background: #eaeaea;
    font-family: 'Open Sans', sans-serif;   
    padding: 0px !important;
    margin: 0px 10px 24px 0 !important;
    font-size:14px;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

#container {
    width: 100%;
    height: 100%;
}

/*Helpers*/
.centered {
	text-align: center;
}

.mt-25 {
	margin-top: 25px;
}

.mb {
	margin-bottom: 25px;
}

#sidebar {
    width: 205px;
    height: 100%;
    position: fixed;
    background: #403067;
}

#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

.img-cir {
    border-radius: 45%;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #403067;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}

#main-content {
    margin-left: 210px;
}

.header {
    min-height: 60px;
    padding: 0 15px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.blue-bg {
    background: #563d7c;
    border-bottom: 1px solid #563d7c;
}

.title-blue{
    color: #563d7c;
}

.mt-8{
    margin-top: 8px;
}

.ml-15{
    margin-left: 15px;
}

.text-center{
    text-align: center;
}


.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

.investment {
	padding-top: 10px;
}

.cal-btn {
    background-color: #563d7c;
    color: white;
}

.cal-btn:hover {
    color: white;
}

.comparisonChart{
    height: 300px; 
    width: 100%;
    left: 100%;
}

.inline-block {
    display: inline-block;
}

.box {
	width: 100%;
}

.box-body {
    border: solid 0.5px #ccc;
    display: block;
}

.ibox{
    display: flex;
}


.list-group{
    max-height: 351px;;
}

.boxshadow{
	box-shadow: 3px 3px 5px 1px #403067;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.inner-box {
	background-color: #563d7c;
	color: white;
	padding-bottom: 10px;
}

.box-title{
	color: white;
	margin-top: 10px;
}

.outer-box{
	padding-bottom: 20px;
    margin-top: 10px;
}


